body{
    margin: 0;
}

.header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px; 
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(85, 81, 78, 0));
    position: relative;
    z-index: 1;
  }
  
  .leftSection {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .rightSection {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
  
  .searchInput {
    margin-right: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
  }
  
  .icon {
    font-size: 20px;
    cursor: pointer;
    margin-left: 50px;
  }

  .icon-contact{
    font-size: 20px;
    cursor: pointer;
    margin-left: 50px;
    
  }